.Naviget {
    display: flex;
    justify-content: space-between; 
    align-items: center;     
    padding: 15px 50px;     
    background-color: #333; 
    color: white;               
}

.Naviget h1 {
    font-size: 24px;
    margin: 0;
}

.ul {
    list-style: none;      
    display: flex;      
    margin: 0;
    padding: 0;
    gap: 20px;               
}

.a {
    text-decoration: none;       
    color: white;                
    font-weight: 500;
}


.li:last-child .a {
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
}

